



<div class="card">
    <div class="card-body" style="background-color:cornflowerblue;">
        <div class="container">
            <div class="row">
             <mat-list role="list">
                 <h1><u>POLICIES</u></h1>
                    <mat-list-item role="listitem"><strong>Upskilling</strong></mat-list-item>
                    <mat-list-item role="listitem"><strong> Impact of Digitalization</strong></mat-list-item>
                    <mat-list-item role="listitem"><Strong>Gratuity and Provident Fund</Strong></mat-list-item>
                    <mat-list-item role="listitem"><strong>Public Holidays and Work Weeks</strong></mat-list-item>
                    <mat-list-item role="listitem"><strong>Maternity and Paternity Leave</strong></mat-list-item>
                    <mat-list-item role="listitem"> <strong>Employment Contracts</strong></mat-list-item>
                    <mat-list-item role="listitem"> <strong>Internet Allowance</strong></mat-list-item>
                  </mat-list>
              </div> 
             
    </div>
    </div>
<button type="button" mat-button (click)="back()" routerLink="dashboard">BACK</button>
</div>